h1{
  color: white;
}
h2{
  color: white;
}
a{
  color: pink;
}

body{
  background-image: url("c.png.jpg");
  background-size: cover;
}
form{
  color: #00FFFF;
}
#sub
{
  
  color: #FFFFFF;
  background-color: #101820ff;
  border-radius: 10px;
}
